body{
  background-color:black;
  color:whitesmoke;
}
.App {
  text-align: center;
}

h3 {
  color: white;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.friends {
  margin: auto;
  align-items: center;
  border: 1px solid grey;
  padding:2%;
  width: 50vw
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Affichage series */
.img_series{
  width:100%;
  height:auto;
}
.thumbnail{
  border: 1px solid grey;
  padding:2%;
}

.col-md-4{
  margin-bottom: 5%;
}

/* .hide{
  visibility:hidden;
} */

/* The Modal (background) */
.modal-prev {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100vh; 
   /* Enable scroll if needed */
  background-color: rgba(63, 44, 72, 0.411);
  /* filter: blur(8px); */
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color:black;
  margin: 2% auto auto auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
  height: 90%;
}

.img_serie{
  width:20%;
  height:auto;
}